@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
* {
    margin: 0;
    padding: 0
}

html {
    scroll-behavior: smooth
}

body {
    font-family: Raleway;
    background-color: #000
}

h1, h2, h3, p {
    color: #fff
}

input[type="button"]{
    border: none;
}

#header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2%;
    z-index: 1
}

#meni {
    width: 50%;
    float: right
}

#meni2 {
    display: none
}

ul {
    list-style-type: none
}

ul li {
    display: inline;
    margin-left: 5%
}

#meni ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5vw;
    letter-spacing: 2%
}

#slajder {
    width: 100%;
    min-height: 720px;
    background-image: url(images/overlay.png), url(../../images/Amsterdam-2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px
}


#slajder h1 {
    font-size: 70px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 30px;
    letter-spacing: 2px;
    margin-right: 150%;
}

#menja p {
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    display: none
}

.prikazi {
    display: block
}

#dugme {
    width: 11%;
    padding: 20px;
    color: #fff;
    font-weight: 700;
    background-color: #f32853;
    border-color: #f32853;
    font-size: 15px;
    letter-spacing: 2px;
    border-radius: 10%
}

#about {
    width: 100%;
    display: flex;
    justify-content: center;
    opacity: 0;
}

.about1 {
    width: 30%
}

h2 {
    margin-top: 100px;
    font-size: 3.3vw;
    text-transform: uppercase
}

.about1 p {
    margin-top: 40px;
    font-size: 1.2vw
}

.podnaslov {
    font-size: 1.5px;
    text-transform: uppercase;
    color: #949494;
    font-weight: 700
}

#galerija {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 80px
}

#galerija a {
    width: 22%
}

#galerija a img {
    opacity: 1;
    width: 100%
}

#galerija a img:hover {
    opacity: .5
}

#naslovGalerija {
    margin-bottom: 30px;
    text-align: center;
    margin-top: 200px
}

#mesta {
    width: 100%;
    margin-top: 100px
}

#places {
    text-align: center;
    margin-top: 200px
}

.mesto1:first-child {
    margin-top: 30px
}
.mesto1 {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 120px
}

.tekst {
    text-align: justify;
    margin-left: 8%
}

.slikaMesta {
    text-align: center
}

.slikaMesta img {
    border-radius: 50%
}

.parni {
    flex-direction: row-reverse
}

.parni .tekst {
    margin-left: 0;
    margin-right: 8%
}

.mesto1 h3 {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 8px
}

.tekstIspod {
    color: #949494
}

.mesto1 p {
    margin-bottom: 25px;
    font-size: 18px
}

.readMore {
    padding: 1.5%;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, .9);
    color: #000;
    font-weight: 700
}

#ispod {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px
}

.formaAutor h2 {
    font-size: 20px;
    text-transform: uppercase
}


.formaAutor {
    width: 40%;
    text-align: center
}

.formaAutor p {
    text-align: justify;
    margin-top: 50px
}

.formaAutor p a {
    color: red;
    text-decoration: none
}


.formaAutor img {
    border-radius: 20%;
    margin-top: 130px;
}

.formaAutor table {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    color: #fff
}

.formaAutor table td {
    padding: 1%
}

.formaAutor table td p {
    text-align: center
}

.formaAutor input, select, textarea {
    width: 40%;
    height: 30px;
    border-radius: 5px
}

#submit {
    width: 30%;
    background-color: rgba(255, 255, 255, .9);
    color: #000;
    font-weight: 700
}

.formaAutor table td p {
    color: red;
    margin-top: 5px
}

.formaAutor table td span {
    color: red;
    font-size: 30px
}

.scrollHeader {
    background-color: rgba(255, 255, 255, .9)
}

.scrollHeader #meni ul li a {
    color: #000
}

#futer {
    width: 100%;
    min-height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, .9);
    margin-top: 80px
}

.futer1 {
    width: 50%
}

.futer1 p, .futer1 a {
    color: #000;
    margin-left: 4%;
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 10px;
}

.futer1 ul {
    margin-left: 80%
}

.futer1 ul li {
    display: inline;
    margin-left: 5%
}

.futer1 ul li a {
    color: #000;
    text-decoration: none;
    font-size: 20px
}